@use './assets/styles/variables';

@import './components/Collapse/Collapse.scss';

// Styles de base

body {
  margin: 0;
  font-family: variables.$primary-font;
}

header,
main {
  max-width: 1240px;
}

header,
main,
footer {
  margin: 50px auto 0 auto;
}

header {
  @media screen and (max-width: 375px) {
    margin: 20px 20px 30px 20px;
  }
}

main {
  @media screen and (max-width: 375px) {
    margin: 0 20px 0 20px;
  }
}

footer {
  @media screen and (max-width: 375px) {
    margin: 30px auto 0 auto;
  }
}

h1 {
  font-size: variables.$font-size-large-heading;
}

p {
  margin: 0;
  padding: 0;
}
