@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Couleurs
$primary-color: #ff6060;
$secondary-color: #ffffff;
$tertiary-color: #000000;
$background-color: #f6f6f6;

// Polices
$primary-font: 'Montserrat', serif;

// Tailles de texte
$font-size-base: 18px;
$font-size-small: 14px;
$font-size-large: 24px;
$font-size-small-heading: 36px;
$font-size-large-heading: 48px;

// Styles de texte
$font-weight-regular: 500;
$font-weight-bold: 700;

// Styles de radius
$banner-radius: 25px;
$card-radius: 10px;
